@font-face {
    font-family: 'Intro';
    src: url('../fonts/subset-Intro.woff2') format('woff2'),
        url('../fonts/subset-Intro.woff') format('woff'),
        url('../fonts/subset-Intro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
